[Unit]
Description=Run borgmatic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart=/usr/bin/borgmatic --verbosity 1 --syslog-verbosity 1
ExecStopPost=/home/cyl/homelab/home-pc/borgmatic/notify.sh exit-code
