apiVersion: v1
kind: Secret
metadata:
  name: boinc-credentials
  namespace: boinc
type: Opaque
stringData:
  # Get your account keys from each BOINC project:
  # - Einstein@home: https://einsteinathome.org/account -> Account Keys
  # - World Community Grid: https://www.worldcommunitygrid.org/ms/viewMyProfile.do -> Account Keys
  # - DENIS@home: https://denis.usj.es/denisathome/home.php -> Account Keys
  # - Milkyway@home: https://milkyway.cs.rpi.edu/milkyway/home.php -> Account Keys
  # - SiDock@home: https://www.sidock.si/sidock/home.php -> Account Keys
  # - Asteroids@home: https://asteroidsathome.net/boinc/home.php -> Account Keys
  # - Yoyo@home: https://www.rechenkraft.net/yoyo/home.php -> Account Keys
  # - Climateprediction.net: https://www.climateprediction.net/home.php -> Account Keys

  einstein-auth: "YOUR_EINSTEIN_AUTH_KEY"
  worldcommunitygrid-auth: "YOUR_WCG_AUTH_KEY"
  denis-auth: "YOUR_DENIS_AUTH_KEY"
  milkyway-auth: "YOUR_MILKYWAY_AUTH_KEY"
  sidock-auth: "YOUR_SIDOCK_AUTH_KEY"
  asteroids-auth: "YOUR_ASTEROIDS_AUTH_KEY"
  yoyo-auth: "YOUR_YOYO_AUTH_KEY"
  climateprediction-auth: "YOUR_CLIMATEPREDICTION_AUTH_KEY"
