# Copy to monitoring.conf and customize. Partitions and drives are named
# without the /dev/ prefix.

DATA_PARTITIONS=("sdb1" "sdc1" "sdd1" "sde1")
DATA_MOUNT_POINTS=("/mnt/data4" "/mnt/data2" "/mnt/data3" "/mnt/data1")

PARITY_PARTITIONS=("sdf1")
PARITY_MOUNT_POINTS=("/mnt/parity1")

DATA_DRIVES=("sdb" "sdc" "sdd" "sde")
PARITY_DRIVES=("sdf")

MERGERFS_MOUNT="/media/data"
