[Unit]
Description=SnapRAID sync and scrub
Documentation=https://github.com/Chronial/snapraid-runner

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snapraid-runner -c /etc/snapraid-runner.conf
# not StartPost. skipped when ExecStart fails
ExecStopPost=-/home/cyl/homelab/scripts/snapraid-notify.sh $SERVICE_RESULT
StandardOutput=journal
StandardError=journal
