apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secrets
  namespace: cloud
type: Opaque
stringData:
  postgres-password: "CHANGE_ME_POSTGRES_PASSWORD"
  redis-password: "CHANGE_ME_REDIS_PASSWORD"
  nextcloud-admin-password: "CHANGE_ME_NEXTCLOUD_ADMIN_PASSWORD"
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  namespace: cloud
type: Opaque
stringData:
  postgres-password: "CHANGE_ME_POSTGRES_PASSWORD"